<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.iotos.common.mapper.mysql.performTasks.TasksDetailsMapper">


    <sql id="selWhere">
        <where>
            <if test="t_no!=null">
                and t_no =#{t_no}
            </if>
            <if test="dept_id!=null">
                and dept_id =#{dept_id}
            </if>
            <if test="state!=null">
                and state =#{state}
            </if>
            <if test="type!=null">
                and type =#{type}
            </if>

        </where>
    </sql>


    <select id="getList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
            id,
            t_no,
            dept_id,
            DATE_FORMAT(create_time,"%Y-%m-%d %H:%i:%S") AS 'create_time',
            DATE_FORMAT(starting_time,"%Y-%m-%d %H:%i:%S") AS 'starting_time',
            DATE_FORMAT(end_time,"%Y-%m-%d %H:%i:%S") AS 'end_time',
            state,
            remark,
            iccid,
            type
        FROM
            os_tasks_details
        <include refid="selWhere"/>
        ORDER BY
        <if test="orderByType==null or orderByType==1">
            create_time
        </if>
        <if test="orderByType==2">
            starting_time
        </if>
        <if test="orderByRule==null or orderByRule==1">
            ASC
        </if>
        <if test="orderByRule==2">
            DESC
        </if>
        <if test="starRow!=null and pageSize!=null ">
            LIMIT #{starRow},#{pageSize}
        </if>
    </select>



    <!-- 查询 总数-->
    <select id="getListCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            os_tasks_details
        <include refid="selWhere"/>
    </select>



    <update id="update" parameterType="java.util.HashMap">
        update
            os_tasks_details
            <set>
                <if test="starting_time!=null">
                    starting_time =#{starting_time} ,
                </if>
                <if test="end_time!=null">
                    end_time =#{end_time} ,
                </if>
                <if test="remark!=null">
                    remark =#{remark} ,
                </if>
                <if test="state!=null">
                    state =#{state} ,
                </if>
            </set>
            <where>
                iccid = #{iccid}
                and type = #{type}
                and t_no = #{t_no}
            </where>
    </update>



    <update id="updateBatch" parameterType="java.util.HashMap">
        update
        os_tasks_details
        <set>
            <if test="starting_time!=null">
                starting_time =#{starting_time} ,
            </if>
            <if test="end_time!=null">
                end_time =#{end_time} ,
            </if>
            <if test="remark!=null">
                remark =#{remark} ,
            </if>
            <if test="state!=null">
                state =#{state} ,
            </if>
        </set>
        <where>
            t_no = #{t_no}
            <if test="iccidList != null and iccidList != '' and iccidList.size>0">
                and iccid in
                <foreach item="iccidList" collection="iccidList" index="index" open="(" separator="," close=")">
                    #{iccidList.iccid}
                </foreach>
            </if>
        </where>
    </update>


    <insert id="save" parameterType="java.util.HashMap">
        insert into os_tasks_details(
            t_no,
            dept_id,
            create_time,
            state,
            iccid,
            type
        )values
        <foreach item="lists" collection="lists" index="index"  separator="," >
            (
                #{t_no}, #{dept_id},now(),0,#{lists.iccid},#{type}
            )
        </foreach>
    </insert>



    <select id="find" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
            id,
            t_no,
            dept_id,
            DATE_FORMAT(starting_time,"%Y-%m-%d %H:%i:%S") AS 'starting_time',
            DATE_FORMAT(end_time,"%Y-%m-%d %H:%i:%S") AS 'end_time',
            DATE_FORMAT(create_time,"%Y-%m-%d %H:%i:%S") AS 'create_time',
            state,
            remark,
            iccid,
            type
        from
            os_tasks_details
        <where>
            t_no =  #{t_no}
        </where>
    </select>


    <delete id="delete" parameterType="java.util.HashMap" >
        delete from os_tasks_details <where> t_no = #{t_no}</where>
    </delete>


    <delete id="deleteArr" parameterType="java.util.HashMap" >
        delete from os_tasks_details
        <where>
            t_no in
            <foreach item="t_noArr" collection="t_noArr" index="index" open="(" separator="," close=")">
                #{t_noArr}
            </foreach>
        </where>
    </delete>


</mapper>