<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.iotos.common.mapper.mysql.performTasks.TaskFlieDownloadMapper">

    <sql id="selWhere">
        <where>
            a.dl_user_id = b.user_id
            and a.t_no = #{t_no}
            and a.fid = #{fid}
        </where>
    </sql>



    <insert id="save" parameterType="java.util.HashMap">
        insert into os_task_flie_download(
            t_no,
            dl_dept_id,
            dl_user_id,
            create_time,
            ip,
            fid
        )values (
            #{t_no},
            #{dept_id},
            #{user_id},
            now(),
            #{ip},
            #{fid}
          )
    </insert>


    <select id="getList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
            a.id,
            a.t_no,
            a.dl_dept_id,
            a.dl_user_id,
            DATE_FORMAT(a.create_time,"%Y-%m-%d %H:%i:%S") AS 'create_time',
            a.ip,
            a.fid,
            b.nick_name
        from
            os_task_flie_download a,
            sys_user b
        <include refid="selWhere"/>
        order by a.create_time desc
        <if test="starRow!=null and pageSize!=null ">
            LIMIT #{starRow},#{pageSize}
        </if>

    </select>



    <!-- 查询 总数-->
    <select id="getListCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            os_task_flie_download a,
            sys_user b
        <include refid="selWhere"/>
    </select>


    <delete id="delete" parameterType="java.util.HashMap" >
        delete from os_task_flie_download <where> t_no = #{t_no}</where>
    </delete>

    <delete id="deleteArr" parameterType="java.util.HashMap" >
        delete from os_task_flie_download
        <where>
            t_no in
            <foreach item="t_noArr" collection="t_noArr" index="index" open="(" separator="," close=")">
                #{t_noArr}
            </foreach>
        </where>
    </delete>

</mapper>